
src/DynData/.vs/

src/DynData/a2n.DynData/bin/
src/DynData/a2n.DynData/obj/
src/DynData/Sample.DataAccess/bin/
src/DynData/Sample.DataAccess/obj/
src/DynData/Sample.WebUI/bin/
src/DynData/Sample.WebUI/obj/
src/DynData/Sample.WebUI/Sample.WebUI.csproj.user