@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Head {
    @*<link href="~/lib/datatables/datatables.bundle.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-print-2.0.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sp-1.4.0/sl-1.3.3/datatables.min.css"/>
 

    <link href="~/lib/jquery-querybuilder/css/query-builder.default.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
}

@section SideBar {
    <ul class="list-group" id="tblLst">
        @foreach (var item in this.Model.AllTables)
        {
            <li class="list-group-item"><a href="#">@item</a></li>
        }
    </ul>
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-12">
        <div id="tblContainer"></div>
    </div>
</div>

<div class="modal fade" id="mdlAdvancedFilter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advanced Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmQB">
                    <div class="row">
                        <div class="col-12">
                            <div id="qbContainer"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdvancedFilterClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnAdvancedFilterApply" class="btn btn-success">Apply</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    
    
@*<script type="text/javascript" src="~/lib/datatables/datatables.bundle.min.js"></script>*@
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-print-2.0.1/cr-1.5.5/date-1.1.1/fc-4.0.1/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>

<script type="text/javascript" src="~/lib/a2n/a2n.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/a2n/a2n-DynData.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/jquery-querybuilder/js/query-builder.standalone.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/bootstrap-datepicker.js" asp-append-version="true"></script>

<script type="text/javascript">
    var currentTable = null;
    var currentQB = null;
    $(function() {
        let $el = $('#tblContainer');
        $("#tblLst a").click(function() {
            if (currentTable && a2n.dyndata.Utils.dataTableInstances[currentTable].instance){
                a2n.dyndata.Utils.dataTableInstances[currentTable].instance.Destroy();
            }
            if (currentQB) {
                $('#qbContainer').queryBuilder("destroy");
            }
            currentTable = $(this).html();
            currentQB = null;
            let dt = new a2n.dyndata.DataTable(currentTable, $el, currentTable, { 
                tableOptions: 
                { 
                    responsive: true,
                    buttons: [
                        {
                            text: '<i class=""fal fa-sync mr-1""></i>Advanced Search',
                            className: 'btn btn-success btn-sm',
                            action: function (e, dt, node, config) {
                                let obj = a2n.dyndata.Utils.dataTableInstances[currentTable];
                                if (!currentQB){
                                    let opt =  obj.instance.options.queryBuilderOptions;
                                    currentQB = $('#qbContainer').queryBuilder(opt);
                                }
                                if (obj.qbRuleSet)
                                    $('#qbContainer').queryBuilder('setRules', obj.qbRuleSet);
                                
                               $('#mdlAdvancedFilter').modal('show');
                            }
                        }, {
                            text: '<i class=""fal fa-sync mr-1""></i>Reload',
                            className: 'btn btn-info btn-sm',
                            action: function (e, dt, node, config) {
                                dt.ajax.reload();
                            }
                        }],
                    lengthMenu: [10, 15, 20, 25]
                }
            });
            dt.Render();
        });
        $('#btnAdvancedFilterApply').click(function() {
            a2n.dyndata.Utils.dataTableInstances[currentTable].qbRuleSet = $('#qbContainer').queryBuilder('getRules');
            a2n.dyndata.Utils.dataTableInstances[currentTable].dt.ajax.reload();
            $('#mdlAdvancedFilter').modal('hide');
        });
    });
</script>
}